@import 'utils/variables';
@import 'components/type';

// colors 

:root {
    --black : #121212 ; 
    --white : #fafafa ; 
    --red : #9b0a0a ;
    --dash-line-color : rgba(250, 250, 250, 0.50) ; 
    --dash-line-black : rgba(18, 18, 18, 0.50);
    --font : "Bricolage Grotesque", sans-serif ; 
    --title-lh : 120% ; 
    --text-lh : 140% ; 
    --text-semi-bold : 600 ; 
    --text-bold : 700 ; 
    --text-extra-bold : 800 ; 

    --h1-title-mob : 3.063rem ;
    --h2-title-mob : 2.56rem ;
    --train-title-mob : 2.13rem ;
    --train-numb-mob : 5.44rem ; 
    --big-text-mob : 2.125rem;
    --medium-text-mob : 1.438rem;
    --small-text-mob : 1rem; 
    --train-text-mob : 1.188rem ; 
    --special-text-mob : 1.75rem ; 
    --footer-text-mob : 1rem ;

    --h1-title-tab : 3.5rem ;
    --train-title-tab : 2.875rem ;
    --train-numb-tab : 7.375rem ; 
    --medium-text-tab : 1.625rem ; 
    --small-text__tab : 1.125rem ; 
    --special-text-tab : 2.375rem ; 
    --train-text-tab : 1.375rem ; 

    --nav-links-dsk : 1.25rem ; 
    --nav-title-dsk : 7.063rem ; 
    --nav-shadow : rgba(155, 10, 10, 0.50); 
    --h1-title-dsk : 7.063rem ; 
    --h2-title-dsk : 5rem ; 
    --medium-text-dsk : 2.5rem ;
    --small-text-dsk : 1.75rem ; 
    --special-text-dsk : 3.563rem ;
    --train-title-dsk : 5rem ;
    --train-numb-dsk : 14.125rem ;
    --train-txt-dsk : 1.75rem ;
}

* {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    padding: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
}

html, body {
    width: 100vw;
    font-family: var(--font);
    color: var(--white);
}

body {
    background-color: var(--black);
    position: relative;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

button {
    cursor: pointer;
}

.white--bg {
    background-color: var(--white);
}

.black--txt {
    color: var(--black);
}

.dashed--line {
    height: 100%;
    border-left: 2px dashed var(--dash-line-color);
    position: absolute;
    top: 0;
    z-index: -1;
}

.dashed--line__left {
    left: 15%;
}

.dashed--line__right {
    right: 15%;
}

.deco {
    display: none;
}

.menu {
    background-color: var(--white);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 28px;
}

.menu--links {
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: var(--big-text-mob);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    transition: all ease 0.4s;
}

.menu--links__hidden {
    transform: translateY(-100%);
}

.menu--links__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.menu--links__apply {
    margin-top: 60px;
    padding: 11px 28px;
    background-color: var(--red);
    color: var(--white);
    border: 3px solid var(--black);
    transition: all ease-out 0.4s;
}

.menu--links__apply:hover, .menu--links__apply:focus {
    background-color: var(--white);
    color: var(--red);
}

.menu--links__el {
    transition: all ease-out 0.4s;
    text-decoration: underline transparent;
}

.menu--links__el:hover, .menu--links__focus {
    color: var(--red);
    text-decoration: underline;
}

.menu--links__active {
    opacity: 0.75;
    text-decoration: line-through ; 
    pointer-events: none;
}

.menu--title {
    position: inherit;
    z-index: 1;
    font-weight: var(--text-bold);
    color: var(--black);
    text-transform: uppercase;
    font-size: var(--big-text-mob);
    text-shadow: 2px 0px 4px rgb(155, 10, 10, 0.50);
    z-index: 10;
}

.menu--burger {
    position: inherit;
    color: var(--black);
    z-index: 10;
    border: none;
    background-color: transparent;
}

.menu--line {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: var(--black);
    top: 0;
    right: 88px;
}

.header--img img {
    margin: 41px 16% 0 16%;
    width: 68%;
}

.big--title {
    color: var(--red);
    text-transform: uppercase;
    font-weight: var(--text-extra-bold);
    font-size: var(--h1-title-mob);
}



.thrill, 
.redef, 
.launch {
    margin-top: 69px;
    padding: 72px 0;
    position: relative;
}

.thrill::before, 
.thrill::after, 
.redef::before, 
.redef::after, 
.launch::before, 
.launch::after {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 2px dashed var(--dash-line-color);
}

.thrill::before, 
.redef::before, 
.launch::before {
    top: 0;
}

.thrill::after, 
.redef::after, 
.launch::after {
    bottom: 0;
}

.thrill--title, 
.redef--title, 
.launch--title {
    width: 100%;
    position: absolute;
    top: -35px;
    letter-spacing: 5px;
    text-align: center;
}

.thrill--text, 
.redef--text,
.launch--text {
    margin: 0 16%;
    font-size: var(--medium-text-mob);
}

.launch {
    margin-bottom: 69px;
}

.info {
    padding: 72px 15% 0 15%;
}

.info--img {
    width: 100%;
    margin-bottom: 41px;
}

.info--text, .bof--text {
    padding: 0 0 23px 23px;
    border-left: 2px solid var(--red);
}

.info--text {
    margin-bottom: 41px ;
    font-size: var(--small-text-mob);
}

.info--text__03 {
    margin: 0;
}

.bof {
    padding-top: 72px;
}

.bof--title {
    font-size: var(--h2-title-mob);
    margin:0 15%;
    line-height: var(--title-lh);
}

.bof--text {
    font-size: var(--special-text-mob);
    font-weight: var(--text-extra-bold);
    margin: 87px 41px 0 41px;
}

.bof--cards {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bof--card {
    width: 270px;
    padding:11px 23px;
    margin: 0 15% 41px 15%;
    text-align: center;
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.bof--card__img {
    width: 100%;
    margin: 11px 23px;
}

.bof--cards__title {
    font-size: var(--medium-text-mob);
    color: var(--white);
    font-weight: var(--text-semi-bold);
}

.bof--cards__title span {
    display: block;
}

.bof--deco {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bof--btn {
    font-family: var(--font);
    font-size: var(--special-text-mob);
    font-weight: var(--text-extra-bold);
    padding: 14px;
    border: 3px solid var(--red);
    margin: 60px 0 72px 0 ;
    background-color: var(--white);
    transition: all ease-out 0.4s;
}

.bof--btn:hover {
    background-color: var(--red);
    color: var(--white);
}

.bof--line {
    width: 100%;
    border-top: 2px dashed var(--dash-line-black);
}


.footer {
    font-size: var(--small-text-mob);
    font-weight: var(--text-extra-bold);
    background-color: var(--black);
    padding: 41px 0;
    text-align: center;
}

.footer--link {
    color: var(--white);
    text-decoration: underline transparent;
    transition: all ease-out 0.4s;

    &:hover {
        text-decoration: underline var(--white);
    }
}


//////// TRAINING 

.body--train {
    position: relative;
}

.header--fixed {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.red {
    color: var(--red);
}

.white {
    color: var(--white);
}

.main--train {
    padding: 0 5.85%;
    font: var(--font);
}

.train {
    width: 100%;

    .train--title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: var(--text-extra-bold);
        margin: 87px 0 60px 0;
    
        .train--title__txt {
            font-size: var(--train-title-mob);
        }
        
        .train--title__left {
            flex-direction: row-reverse;
            text-align: right;
        }
        
        .train--title__num {
            font-size: var(--train-numb-mob);
        }
    
    }
    
    .train--img img {
        width: 100%;
        height: auto;
        margin-top: 41px;
        box-sizing: border-box;
        border-top: 5px solid var(--red);
    }
    
    .train--grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 23px;
    
        .train--small__txt {
            font-size: var(--train-text-mob);
            border-left: 2px solid var(--red);
            padding: 0 0 23px 23px;
            margin-top: 34px;
            grid-column: 1/3;
        }
        
        .train--txt__right {
            grid-column: 2/4;
        }
    
    }
    
    .train--txt {
        font-size: var(--medium-text-mob);
        font-weight: var(--text-semi-bold);
    }

    .train--link {
        margin-top: 72px;
        display: flex;
        justify-content: center;
        font-weight: var(--text-extra-bold);
        font-size: var(--big-text-mob);
    }

}





.footer--train {
    margin-top: 72px;
    background-color: var(--white);
    color: var(--black);

    .footer--link {
        color: var(--black);
        text-decoration: underline transparent;
        transition: all ease-out 0.4s;

        &:hover {
            text-decoration: underline var(--black);
        }

    }

}




/////// APPLY


.body--apply {
    background-color: var(--white);
}

.menu--apply {
    border-bottom: 2px solid var(--black);
}

.apply--title {
    font-family: var(--font);
    font-size: var(--h1-title-mob);
    color: var(--black);
    text-align: center;
    margin:72px 16% 72px 16%;

}

.dashed--line__black {
    border-left: 2px dashed var(--dash-line-black);
}

.form {
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;

    .form--champ {
        display: flex;
        flex-direction: column;
        padding:0 23px;
        margin-bottom: 34px;

        label {
            color: var(--black);
            font-size: var(--medium-text-mob);
            margin-bottom: 11px;
        }

        

        .form--champ__input {
            font-family: var(--font);
            font-size: var(--small-text-mob);
            border: 2px solid var(--red);
            width: 200px;
            height: 40px;
            background-color: var(--white);
            padding:5px 0 5px 11px;
            color: var(--red);

            &:focus {
                outline: none;
            }

        }

        .input--gender {
            width: 100%;
        }

    }

    .form--btn {
        margin: 41px 0 72px 0;
        border: 3px solid var(--red);
        font-family: var(--font);
        font-weight: var(--text-extra-bold);
        color: var(--white);
        font-size: var(--special-text-mob);
        width: 100%;
        height: 60px;
        background-color: var(--red);
        text-transform: uppercase;
        transition: all ease-out 0.4s;

        &:hover {
            background-color: var(--white);
            color: var(--red);
            border: 3px solid var(--red);
        }

    }

}

.form--submit {
    width: 80%;
    max-width: 600px;
    margin: 41px auto;
    padding: 16px 24px;
    background-color: var(--black);
    color: var(--white);
    border: 3px solid var(--red);
    border-radius: 10px;
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.form--submit__hidden {
    display: none;
}





@media (min-width: 768px) {

    .dashed--line__left {
        left: 118px;
    }
    
    .dashed--line__right {
        right: 118px;
    }

    .title--vertical span {
        display: block;
        margin-bottom: -40px;
    }

    .title--vertical span:first-of-type {
        margin-top: -40px;
    }

    .thrill, 
    .redef, 
    .launch {
        margin-top: 118px;
        padding: 118px 0;
    }

    .thrill--title, 
    .redef--title, 
    .launch--title {
        font-size: var(--h1-title-tab);
        letter-spacing: 0;
    }

    .thrill--title {
        top: 15%;
        left: 100px;
        width: auto;
    }

    .thrill--text {
        margin: 0 16% 0 32%;
    }

    .thrill--text, 
    .redef--text, 
    .launch--text {
    font-size: var(--medium-text-tab);
    }

    .redef--title {
        letter-spacing: 15px;
    }

    .redef--text {
        margin: 0 200px;
    }

    .launch--title {
        width: auto;
        right: 100px;
        top: 2%;
    }

    .launch--text {
        margin: 0 32% 0 16%;
    }

    .info {
        padding: 118px;

        .info--text {
            font-size: var(--small-text__tab);
        }
    
        .info--text__02, .info--deco {
            margin-bottom: 56px;
        }
    
        .info--deco {
            display: flex;
            justify-content: center;
            align-items: center;
    
            .info--img {
                width: 40%;
                margin: 0 38px 0 0 ;
            }
    
            .info--text__02 {
                margin: 0;
            }
    
        }
        
    }

    .bof {

        padding-top: 0;

        .bof--title {
            font-size: var(--h1-title-tab);
            margin: 0 118px;
        }

        .bof--cards {
            padding: 0 118px ;
            margin-top: 81px;
            gap: 56px;

            .bof--card {
                width: 270px;
                padding: 18px 26px;
                margin: 0;

                .bof--cards__title {
                    font-size: var(--medium-text-tab);
                }

            }

        }

        .bof--text {
            font-size: var(--special-text-tab);
        }

        .bof--btn {
            font-size: var(--special-text-tab);
            margin: 81px 0 118px 0;
        }

        

    }


    /////// TRAIN 
    

    .main--train {
        padding: 0 118px;
    }

    

    .train {

        .train--title {

            margin: 118px 0 67px 0;
            gap: 38px;

            .train--title__txt {
                font-size: var(--train-title-tab);
            }

            .train--title__num {
                font-size: var(--train-numb-tab);
            }

        }

        .train--deco {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 56px;
    
            .train--txt {
                font-size: var(--medium-text-tab);
            }   
    
            .train--txt, .train--img {
                width: 50%;
            }
    
            .train--img img {
                width: 100%;
                margin: 0;
            }
    
        }

        .train--deco__var {
            flex-direction: row-reverse;
        } 

        .train--grid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto ; 
            column-gap: 46px;
            margin-top: 56px;

            .train--small__txt {
                font-size: var(--train-text-tab) ;
                margin-top: 38px;
            }
        
            .train--txt__right {
                grid-column: 3/5;
            }

            .train--small_01 {
                grid-row: 1;
                margin-top: 0;
            }

            .train--small_02 {
                grid-row: 2;
            }

            .train--small_03 {
                grid-row: 3;
            }

            .train--small_04 {
                grid-row: 4;
            }

        }

        .train--link {
            margin-top: 118px;
            font-size: var(--special-text-tab);
        }

    }

    .footer--train {
        margin-top: 118px;
    }

    .apply--title {
        font-size: var(--h1-title-tab);
    }

    .form {

        padding: 0 118px;
        

        .form--grp {
            display: flex;
            align-items: center;

            .form--champ__input {
                font-size: var(--small-text__tab);
            }

            label {
                font-size: var(--medium-text-tab);
            }

        }

        .form--btn {
            font-size: var(--special-text-tab);
            width: 60%;
            height: 60px;
            transform: translateX(35%);
        }

    }

    

} 


@media (min-width: 1024px) {

    .dashed--line__left {
        left: 160px;
        z-index: 2;
    }
    
    .dashed--line__right {
        right: 160px;
        z-index: 2;
    }

    .deco {
        position: relative;
        background-color: var(--white);
        border-bottom: 3px solid var(--black);
        height: 120px;
        padding: 0 57px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        z-index: 10;
    }

    .deco--title {
        color: var(--black);
        position: relative;
        text-transform: uppercase;
        font-size: var(--nav-title-dsk) ;
        font-weight: var(--text-extra-bold) ;
    }

    .deco--title__left, .deco--title__right {
        position: absolute;
        color: var(--nav-shadow);
        z-index: 1;
        filter: blur(4px);
    }

    .deco--title__left {
        left: -5px;
    }

    .deco--title__right {
        right: -5px;
    }

    .deco--title__main {
        position: inherit;
        z-index: 2;
    }

    .deco--line {
        position: absolute;
        background-color: var(--black);
        height: 100%;
        width: 3px;
        top: 0;
        right: 265px;
    }

    .menu {
        height: 61px;
        padding: 0;
        border-bottom: 3px solid var(--black);
        position: sticky;
        top: 0;
        z-index: 20;
    }

    .menu--title, .menu--burger {
        display: none;
    }

    .menu--links {
        transform: translateY(0%);
        position: inherit;
        flex-direction: row;
        padding: 0;
        margin: 0 0 0 57px;
        justify-content: space-between;
        height: 61px;
    }

    .menu--links__list {
        flex-direction: row;
        font-size: var(--nav-links-dsk);
    }

    .menu--links__apply {
        margin: 0;
        font-size: var(--special-text-mob);
        height: 61px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 262px;
    }

    .header--img {
        width: 100%;
        height: 100%;
    }

    .header--img img {
        margin-top: 0;
    }
      
    .info, .bof {
        position: sticky;
        z-index: 2;
    }

    .thrill, 
    .redef, 
    .launch {
        width: 100vw;
        height: 100vh;
        padding: 0;
        position: sticky;
        top: 0;
        background-color: var(--black);
        z-index: 1;
        overflow-y: hidden;
        display: flex;
        justify-content: center; 
        overflow: hidden;
    }

    .thrill::before, 
    .redef::before, 
    .launch::before {
        top: 113px;
    }

    .thrill::after, 
    .redef::after, 
    .launch::after {
        bottom: 113px;
    }

    .thrill--text, 
    .redef--text, 
    .launch--text {
        font-size: var(--medium-text-dsk) ;
        line-height: 100%;
        height: inherit;
    }

    

    .thrill--title, .redef--title, .launch--title {
        font-size: var(--h1-title-dsk);
    }

    .thrill--title, .launch--title {
        line-height: 110%;
    }

    .thrill--title {
        top: 15%;
        left: 125px;
    }

    .thrill--text {
        margin-top: 210px;
    }

    .redef--title {
        letter-spacing: 5px ;
        top: 30px;
    }

    .redef--text {
        margin-top: 20%;
    }

    .launch--title {
        top: 15.5%;
        right: 122px;
    }

    .launch--text {
        width: 500px;
        margin-top: 20%;
    }

    .info {
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .info--deco {
            align-items: flex-start;
        }

        .info--text {
            font-size: var(--small-text-dsk);
            max-width: 700px;
        }

    }

    .bof {

        .bof--title {
            font-size: var(--h2-title-dsk);
            text-align: center;
        }

        .bof--cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 80px 113px 0 113px;

            .bof--card {

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: auto;

                .bof--title {
                    font-size: var(---text-dsk);
                    padding: 28px;
                }

                .bof--card__img {
                    width: 100%;
                    margin: 0 28px;
                    border-radius: 10px;
                }

            }

        }

        .bof--text {
            font-size: var(--medium-text-dsk);
            margin: 113px 160px 0 160px;
            max-width: 700px;
        }

    }

    .footer {
        position: inherit;
        z-index: 100;
    }

    .main--train {
        padding: 0 clamp(7.0625rem, -0.1683rem + 11.2981vw, 10rem);

        .train {

            .train--title {
                margin-top: 113px;

                .train--title__txt {
                    font-size: var(--train-title-dsk);
                }

                .train--title__num {
                    font-size: var(--train-numb-dsk);
                }

            }

            .train--deco {
                align-items: center; 

                .train--txt {
                    font-size: var(--medium-text-dsk);
                }
                .train--img {
                    width: 40%;
                }
            }

            .train--grid {
                margin-top: 80px;

                .train--small__txt {
                    font-size: var(--train-txt-dsk);
                    grid-row: inherit;
                    grid-column: inherit;
                    margin-top: 80px;
                    align-self: start;
                }

                .train--small_01, .train--small_03 {
                    grid-column: 1/3;
                }

                .train--small_02, .train--small_04 {
                    grid-column: 3/5;
                }

                
            }

            .train--link {
                margin-top: 113px;
                font-size: var(--h2-title-dsk);
            }
    

        }

        

    }

    .apply--title {
        font-size: var(--h2-title-dsk);
        margin: 228px 0 80px 0;
    }

    .form {

        padding: 0 228px;

        
        

        .form--grp {
            

            .form--champ__input {
                font-size: var(--nav-links-dsk);
                width: 400px;
            }

            label {
                font-size: var(--big-text-mob);
            }

        }

        .form--btn {
            font-size: var(--special-text-tab);
            width: 60%;
            height: 60px;
            transform: translateX(35%);
        }

    }

}



